$primary: #39C071;
$light: #DFE3E6;
$dark: #000;
$danger: #E95151;
$success: #22bb33;

$gray-200: #B8B9BB;
$gray: #6B808C;

$primary-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);

$body-color: $dark;
$body-bg: #fff;

$font-size-base: .8125rem;
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$font-weight-base: normal;
$headings-font-weight: bold;

$btn-border-width: 1px;
$border-radius: 3px;

$btn-padding-y: 7px;
$btn-padding-x: 8px;

$col-padding-x: 6px;

$screens: (
        sm: "540px",
        md: "768px",
        lg: "990px",
        xl: "1200px",
);
