.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: bold;
  transition: .5s;
  z-index: 5;
  border-radius: $border-radius;
  padding: $btn-padding-y $btn-padding-x;
  cursor: pointer;

  &-primary {
    border: $btn-border-width solid lighten($primary,10%);
    background: lighten($primary,10%);
    color: #fff;

    &:hover {
      background: $primary;
      border-color: $primary;
      box-shadow: 0 5px 15px rgba($primary, 0.35);
    }
  }

  &-light {
    border: $btn-border-width solid lighten($light,10%);
    background: lighten($light,10%);
    color: $dark;

    &:hover {
      background: $light;
      border-color: $light;
      box-shadow: 0 5px 15px rgba($light, 0.35);
    }
  }
}